<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA0OiBwWTz3ZOx_E1RJ-UCYCjarVI6PDA</string>
	<key>GCM_SENDER_ID</key>
	<string>337041228734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawan.socialmediaapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>minimal-social-app-72bea</string>
	<key>STORAGE_BUCKET</key>
	<string>minimal-social-app-72bea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337041228734:ios:6fc12f773e5edfce5fafef</string>
</dict>
</plist>